BasedOnStyle: WebKit
NamespaceIndentation: All
AlignTrailingComments: true
AlignConsecutiveDeclarations: AcrossComments
BinPackParameters: false
ReferenceAlignment: Left
PointerAlignment: Left
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
BreakBeforeBraces: Custom
AllowShortFunctionsOnASingleLine: None